.App {
  text-align: center;
  padding: 2% 3%;
}

.App-logo {
  height: 80px;
}

.navBar {
  margin-bottom: 2%;
  max-width:1000px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.word-card {
  max-width: 280px;
  margin: 4% auto;
}

.guess-input {
  width: 200px; 
  margin: 0 auto;
}

.game-rules {
  width:75% !important;
  margin: 2% auto;
}
